@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #e7eff6;
}

/* Conteúdo principal */
.container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.avaliacao{
    background-color: #e7eff6;
}

.avaliacao a{
    color: #2a4d69;
}


.avaliacoes-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    margin: 20px auto;
}

.avaliacoes-container h2 {
    color: #1a2c3d;
    font-size: 24px;
    margin-top: 0;
    text-align: center;
}

.avaliacao-item {
    border-bottom: 1px solid #e7eff6;
    padding: 15px 0;
}

.avaliacao-item:last-child {
    border-bottom: none; 
}

.avaliacao-item p {
    color: #e7eff6;
    font-size: 18px;
    margin: 5px 0;
}

.avaliacao-item .avaliador {
    font-weight: bold;
    color: #1a2c3d;
}

.avaliacao-item .nota,
.avaliacao-item .comentario {
    color: #1a2c3d;
}

h5 {
    margin: 40px auto;
    color: #1a2c3d;
    text-align: center;
    font-size: 30px;
}

.avaliar a {
    color: #1a2c3d;
}