@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");


.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Conteúdo de filmes */
h2 {
    margin: 40px auto;
    color: #1a2c3d;
    text-align: center;
    font-size: 30px;
}

.filmes{
    background-color: #e7eff6;   
}

.filmes a{
    color: #2a4d69;
}


body {
    background-color: #e7eff6;   
}

.container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}

.filme-item a {
    text-decoration: none;
    font-size: 1rem;
    color: #e7eff6;
    transition: color 0s ease, transform 0.3s ease;
    background-color: #2a4d69;
    padding: 10px;
    border-radius: 12px;
}

.filme-item a:hover {
    transform: scale(1.05); 
}
