/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"); */

.container {
  max-width: 1400px;
  width: 100%;
  padding: 60px 0;
}
.slide-container {
  margin: 0 30px;
  overflow: hidden;
  
}
.card {
  background: #fff;
  border-radius: 8px;
}
.card .image-box {
  height: 300px;
  width: auto;
  
}
.card .image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}
.card .profile-details {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 15px;
}
.card .profile-details img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.profile-details .job {
  font-size: 12px;
  font-weight: 500;
  color: #4d4d4d;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000;
  height: 50px;
  width: 50px;
  transform: translateY(-40%);
  background: #fff;
  border-radius: 50%;
}

.swiper-button-next {
  right: 0px; /* Ajuste para o lado direito */
}
.swiper-button-prev {
  left: 0px; /* Ajuste para o lado esquerdo */
}

.swiper-navBtn1::before,
.swiper-navBtn1::after {
  font-size: 24px;
}
.swiper-navBtn2::before,
.swiper-navBtn2::after {
  font-size: 24px;
}
.swiper-navBtn3::before,
.swiper-navBtn3::after {
  font-size: 24px;
}
.swiper-navBtn4::before,
.swiper-navBtn4::after {
  font-size: 24px;
}

.swiper-pagination {
  text-align: center;
  margin-top: 10px;
}

.swiper-pagination-bullet {
  background-color: #333;
}

@media screen and (max-width: 768px) {
  .swiper-navBtn {
    display: none;
  }
}
