.container {
    width: 90%;
    max-width: 1200px;
    height: 55rem;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    flex-direction: column;    
}

.logo{
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

p{
    font-size: 1.3rem;
    text-align: center;
}

#i{
    height: 600px;
    width: auto;
    border-radius: 10px;
    margin-top: 2rem;
    transition: transform 0.3s ease-in-out;
}

#i:hover {
    transform: scale(1.05);
}